{% extends 'base.html' %}

{% block title %}Welcome to My Blog {% endblock %}

{% block stylesheet %}
{% endblock %}

{% block profile %}

 <style type="text/css">
		#fh5co-offcanvas {
    width: auto;
}
#fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio {
    width: auto;
    padding: 50px;
}
	</style>



   <div class="fh5co-bio">
			<figure>
				<img src="{{ auth.profile_picture.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
			</figure>
			<h3 class="heading">About Me</h3>
			<h2>{{ auth.name.get_full_name }}</h2>
			<p>{{ auth.details }} </p>
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>
{% endblock %}

{% block content %}

      {% if ok %}
                <script language="javascript">

						swal('OK!!','Your Post Have been Updated Succesfully','success');

						 setTimeout(function(){
							window.location.href='/profile'
					 },3000);

					</script>
          {% endif %}

        {% if ok2 %}
                <script language="javascript">

						swal('OK!!','Your Post Have been Deleted Succesfully','success');

						 setTimeout(function(){
							window.location.href='/profile'
					 },3000);

					</script>
          {% endif %}

          {% if ok3 %}
                <script language="javascript">

						swal('OK!!','Your Password Have been Changed Succesfully','success');

						 setTimeout(function(){
							window.location.href='/profile'
					 },3000);

					</script>
          {% endif %}

<h1> {{ auth.name.get_full_name }} </h1>>

   {% for p in post %}

          <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'single' id=p.id %}"><img src="{{ p.image.url }}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="{% url 'topic' name=p.category.name %}">{{ p.category.name}}</a></span>
				<h2 class="fh5co-article-title"><a href="{% url 'single' id=p.id %}">{{ p.title}}</a></h2>
					<h4> <a href="{% url 'author' name=p.article_author.name %}"> {{ p.article_author.name.username }} </a></h4>
				<span class="fh5co-meta fh5co-date">{{p.posted_on}}</span>
			     </article>

   {% endfor %}


{% endblock %}

{% block script %}
{% endblock %}